<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Poodle - The Moodle of Tomorrow, Today{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'test/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'test:index' %}">Poodle</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'test:index' %}">
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="{% url 'test:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
                <li>
                    <a href="{% url 'test:login_user' %}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Login
                    </a>
                </li>
                <li>
                    <a href="{% url 'test:register' %}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp; Register
                    </a>
                </li>
                <li>
                   <a href="{% url 'upload' %}">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; Work Upload
                    </a>
                </li>
                <li>
                        <a href="{% url 'list_files' %}">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View Uploaded Work
                    </a>
                </li>
                 <li>
                        <a href=>
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Check Database
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>

